{% include profile-image.html %}
<div id="contents">
    <h1 class="c29"><span class="c19 c38">TECHNICAL EXPERTISES</span></h1>
    {% include technical-expertises.html %}

    <h1 class="c29"><span class="c19 c38">CAREER HIGHLIGHTS</span></h1>
    {% include career-highlights.html %}

    <h1 class="c29"><span class="c19 c38"> PERSONAL ATTRIBUTES</span></h1>
    {% include personal-attributes.html %}

    <h1 class="c29"><span class="c19 c38">WORK HISTORY</span></h1>

    <h2 class="c27"><span class="c36">VNP Group </span><span class="c1">10/2022 – Present</span></h2>
    {% include vnp.html %}

    <h2 class="c27"><span class="c36">Rabiloo </span><span class="c1">01/2021 – 10/2022</span></h2>
    {% include rabiloo.html %}

    <h2 class="c27"><span class="c36">Education </span><span class="c1"> 2019 – 2022</span></h2>
    {% include undergraduate.html %}

    <p class="c7"><span></span></p>
    <p class="c4"><span class="c0"></span></p>
    <div style="margin-top: 30px; text-align: center;">
        <button style="background: #222426; padding: 6px; border-radius: 4px; border: none;">
            <a style="color: white; text-decoration: none; font-size: 18px;" href="Hoang Trong Phuong - CV.pdf" download>Download CV</a>
        </button>
    </div>
</div>