<div class="user-details">
    <h1>My Profile - I Wanna Relax (<a href="/music" target="blank">Music</a>)</h1>
    <p>
        <img style="border-radius: 10px; max-width: 65%; height: auto; display: block; margin-left: auto;margin-right: auto;"
            src="/myprofile.jpg" alt="Hoang Phuong Profile" title="Hoang Phuong - Web Developer" />
    </p>
</div>
<div id="contents">
    <h1 class="c29"><span class="c19 c38">TECHNICAL EXPERTISES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c12"><span class="c9">Programming skills: </span> <span class="c0"> Web API, PHP, Laravel,
                Javascript, VueJs, NodeJS, XML, Ajax, jQuery</span></li>
    </ul>
    <ul class="c6 lst-kix_list_6-1 start">
        <li class="c12"><span class="c9">Methodologies and practices:</span><span class="c0"> OOP, Design
                patterns</span></li>
    </ul>
    <ul class="c6 lst-kix_list_7-1 start">
        <li class="c12"><span class="c9">IDEs:</span><span class="c0">VSCode, PhpStorm, SublimeText</span></li>
    </ul>
    <ul class="c6 lst-kix_list_4-1 start">
        <li class="c14 c16"><span class="c9">Database platforms: </span><span class="c0">MySQL, SQLite, MS SQL,
                Elasticsearch</span></li>
    </ul>

    <h1 class="c29"><span class="c19 c38">CAREER HIGHLIGHTS</span></h1>
    <p class="c21"><span class="c0">Có kinh nghiệm về PHP, Laravel</span></p>
    <p class="c21"><span class="c0">Phân tích công nghệ và tích hợp ứng dụng với các thư viện bên thứ ba phù hợp</span>
    </p>
    <p class="c21"><span class="c0">Kinh nghiệm phân tích và thiết kế cơ sở dữ liệu: MySQL, SQLite</span></p>
    <p class="c21"><span class="c0">Có kiến thức về VueJs, NodeJS, Elasticsearch</span></p>


    <h1 class="c29"><span class="c19 c38"> PERSONAL ATTRIBUTES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Ý thức trách nhiệm, cẩn thận trong tất cả các công việc được giao.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có thể nghiên cứu công nghệ mới một cách nhanh chóng.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có khả năng làm việc nhóm hoặc độc lập.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Là một con người thân thiện , nhiệt huyết. Có kĩ năng giao tiếp và thuyết trình
            </span></li>
    </ul>

    <h1 class="c29"><span class="c19 c38">WORK HISTORY</span></h1>
    <h2 class="c27"><span class="c36">Student</span><span class="c1"> 2019 – Present</span></h2>
    <p class="c7"><span class="c1">Học tập , nghiên cứu các kiến thức về ngành CNTT nói chung , và ngành lập trình nói
            riêng tại học viện CNTT Bách Khoa (BKACAD) - Trường đại học Bách Khoa Hà Nội </span></p>
    <ol class="c6 lst-kix_list_1-0 start" start="1">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Xây dựng và phát triển hệ thống quản lý lịch chiếu và bán vé
                    rạp chiếu phim (đồ án, công trình nghiên cứu, ...) cho bộ môn lập trình web tại học viện</span></h3>
        </li>
    </ol>
    <a id="t.0b7e886f24477201ddd4cc826bac6c159e981206"></a>
    <a id="t.0"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">08/2020 – 03/2021</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7">
                        <span class="c0">
                            Developer, thiết kế giao diện người dùng (UI), xử lý logic backend <br />
                            Phân tích, thiết kế cơ sở dữ liệu cho hệ thống
                        </span>
                    </p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7">
                        <span class="c1">
                            Quản lý lịch chiếu và suất chiếu của rạp chiếu phim <br>
                            Bán vé xem phim cho khách hàng, tích điếm đổi voucher <br>
                            Thống kê và thông báo doanh thu của hệ thống cho từng role <br />
                            Tự động đề xuất và lên lịch các phim thịnh hành
                        </span>
                    </p>
                    <!-- <p class="c24"><span class="c0">Link host server:</span></p>
                    <ul class="c6 lst-kix_list_19-0">
                        <li class="c24 c14"><span class="c30"><a class="c37"
                                    href="http://kenh14.vn/hacker-viet-duoc-google-thuong-31337-usd-nho-cong-lao-lon-so-tien-le-vay-lai-hoa-ra-an-y-ngam-thu-vi-2019123015145516.chn">http://kenh14.vn/hacker-viet-duoc-google-thuong-31337-usd-nho-cong-lao-lon-so-tien-le-vay-lai-hoa-ra-an-y-ngam-thu-vi-2019123015145516.chn</a></span>
                        </li>
                    </ul> -->
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0 start">
                        <li class="c7 c14"><span class="c1">Leader team </span></li>
                        <li class="c7 c14"><span class="c1">Coding</span></li>
                        <li class="c7 c14"><span class="c1">Fix bug</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0">
                        <li class="c7 c14"><span class="c1">PHP, Laravel</span></li>
                        <li class="c7 c14"><span class="c1">MySQL</span></li>
                        <li class="c7 c14"><span class="c1">VueJS</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4"><span class="c0"></span></p>



    <ol class="c6 lst-kix_list_1-0" start="2">
        <li class="c32">
            <h3 style="display:inline">
                <span class="c8 c1">
                    Phát triển hệ thống matching giữa người tìm việc và các cơ sở y tế như bệnh viện, phòng khám tư nhân
                    ...
                    của Nhật Bản
                </span>
            </h3>
        </li>
    </ol>
    <p class="c7"><span class="c0"></span></p>
    <a id="t.eca296994f59b4ee0aaef13f4d2816006eb22738"></a>
    <a id="t.1"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">05/2021 – 12/2021</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developer</span></p>
                </td>
            </tr>
            <tr class="c41">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7">
                        <span class="c1">
                            Tích hợp hệ thống thanh toán bên thứ ba như ngân lượng, bảo kim vào
                            các hệ thống rao vặt, shoping cá nhân, …
                        </span>
                    </p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0 start">
                        <li class="c7 c14"><span class="c0">Coding</span></li>
                        <li class="c7 c14"><span class="c0">Fix bug</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">PHP, Laravel</span></li>
                        <li class="c7 c14"><span class="c1">MySQL</span></li>
                        <li class="c7 c14"><span class="c1">VueJS</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4 c44"><span class="c0"></span></p>
    <ol class="c6 lst-kix_list_1-0" start="3">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Phát triển hệ thống get link Google Drive</span></h3>
        </li>
    </ol>
    <p class="c4"><span class="c0"></span></p>
    <a id="t.4f1434d80711707838b7d2ba406f24f6990bc8ce"></a>
    <a id="t.2"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">Jun 2017 – August 2017</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Developer, Author</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c24"><span class="c0">Hệ thống lấy liên kết tải trực tiếp từ liên kết gốc của google drive
                            để tích hợp vào các hệ thống website xem phim.</span></p>
                    <p class="c24"><span class="c0">Cung cấp dịch vụ này cho các hệ thống website xem phim trong nước
                            như: phimmoi.net, anime47.net,...</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">Coding</span></li>
                        <li class="c7 c14"><span class="c1">Research</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">PHP, C</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="c7"><span></span></p>
    <p class="c4"><span class="c0"></span></p>
</div>