<ul class="c6 lst-kix_list_4-0">
    <!-- <li class="c5"><span class="c34">Responsible, careful in all assigned tasks.</span></li> -->
    <li class="c5"><span class="c34">Ý thức trách nhiệm, cẩn thận trong tất cả các công việc được giao.</span></li>
</ul>
<p class="c23"><span class="c33"></span></p>
<ul class="c6 lst-kix_list_4-0">
    <!-- <li class="c5"><span class="c34">Can research new technology quickly.</span></li> -->
    <li class="c5"><span class="c34">Có thể nghiên cứu công nghệ mới một cách nhanh chóng.</span></li>
</ul>
<p class="c23"><span class="c33"></span></p>
<ul class="c6 lst-kix_list_4-0">
    <!-- <li class="c5"><span class="c34">Able to work in a team or independently.</span></li> -->
    <li class="c5"><span class="c34">Có khả năng làm việc nhóm hoặc độc lập.</span></li>
</ul>

<p class="c23"><span class="c33"></span></p>
<ul class="c6 lst-kix_list_4-0">
    <li class="c5"><span class="c34">Có khả năng làm việc với áp lực cao.</span></li>
</ul>

<p class="c23"><span class="c33"></span></p>
<ul class="c6 lst-kix_list_4-0">
    <li class="c5"><span class="c34">Có kinh nghiệm tốt trong ngành công nghiệp phần mềm.</span></li>
</ul>

<p class="c23"><span class="c33"></span></p>
<ul class="c6 lst-kix_list_4-0">
    <li class="c5">
        <!-- <span class="c34">
        A friendly, enthusiastic person. Has good communication and presentation skills
    </span> -->
        <span class="c34">
            Là một con người thân thiện , nhiệt huyết. Có kĩ năng giao tiếp và thuyết trình
        </span>
    </li>
</ul>