<p class="c7">
    <span class="c1">
        Studying and researching knowledge about IT industry in general,
        and programming industry in particular at Bach Khoa IT Academy (BKACAD) -
        Hanoi University of Science and Technology ....
    </span>
    <!-- <span class="c1">
                Học tập, nghiên cứu các kiến thức về ngành CNTT nói chung, và ngành lập trình nói
                riêng tại học viện CNTT Bách Khoa (BKACAD) - Trường đại học Bách Khoa Hà Nội
            </span> -->
</p>
<ol class="c6 lst-kix_list_1-0 start" start="1">
    <li class="c32">
        <h3 style="display:inline">
            <span class="c8 c1">
                Building and developing a system for managing showtimes and selling cinema tickets (projects,
                research works, ...) for web programming at the academy
            </span>
            <!-- <span class="c8 c1">
                        Xây dựng và phát triển hệ thống quản lý lịch chiếu và bán vé
                        rạp chiếu phim (đồ án, công trình nghiên cứu, ...) cho bộ môn lập trình web tại học viện
                    </span> -->
        </h3>
    </li>
</ol>
<a id="t.0b7e886f24477201ddd4cc826bac6c159e981206"></a>
<a id="t.0"></a>
<table class="c2">
    <tbody>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Duration</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c7"><span class="c0">08/2020 – 03/2021</span></p>
            </td>
        </tr>
        <tr class="c17">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Position</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c7">
                    <span class="c0">
                        Developer, user interface (UI) design, backend logic handling <br />

                        <!-- Developer, thiết kế giao diện người dùng (UI), xử lý logic backend <br /> -->
                        <!-- Phân tích, thiết kế cơ sở dữ liệu cho hệ thống -->
                    </span>
                </p>
            </td>
        </tr>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Project Description</span></p>
                <p class="c4"><span class="c9"></span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c7">
                    <span class="c1">
                        Manage showtimes of cinemas <br>
                        Sell movie tickets to customers, collect and exchange vouchers <br>
                        Statistics and notification of system revenue for each role <br />
                        Auto-suggest and schedule trending movies
                    </span>
                    <!-- <span class="c1">
                                Quản lý lịch chiếu và suất chiếu của rạp chiếu phim <br>
                                Bán vé xem phim cho khách hàng, tích điếm đổi voucher <br>
                                Thống kê và thông báo doanh thu của hệ thống cho từng role <br />
                                Tự động đề xuất và lên lịch các phim thịnh hành
                            </span> -->
                </p>
            </td>
        </tr>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">My Responsibilities</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <ul class="c6 lst-kix_list_2-0 start">
                    <li class="c7 c14"><span class="c1">Team leader </span></li>
                    <li class="c7 c14"><span class="c1">Coding</span></li>
                    <li class="c7 c14"><span class="c1">Bug fixing</span></li>
                </ul>
            </td>
        </tr>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Technologies</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <ul class="c6 lst-kix_list_2-0">
                    <li class="c7 c14"><span class="c1">PHP, Laravel</span></li>
                    <li class="c7 c14"><span class="c1">MySQL</span></li>
                    <li class="c7 c14"><span class="c1">VueJS</span></li>
                    <li class="c7 c14"><span class="c1">Docker</span></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p class="c4"><span class="c0"></span></p>
<p class="c4 c44"><span class="c0"></span></p>
<ol class="c6 lst-kix_list_1-0" start="3">
    <li class="c32">
        <h3 style="display:inline">
            <span class="c8 c1">
                Completing the system of managing showtimes and selling cinema tickets
                <!-- Hoàn thiện hệ thống quản lý lịch chiếu và bán vé rạp chiếu phim -->
            </span>
        </h3>
    </li>
</ol>
<p class="c7"><span class="c0"></span></p>
<a id="t.4f1434d80711707838b7d2ba406f24f6990bc8ce"></a>
<a id="t.2"></a>
<table class="c2">
    <tbody>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Duration</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c7"><span class="c0">01/2022 – 08/2022</span></p>
            </td>
        </tr>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Position</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c7"><span class="c1">Developer, Author</span></p>
            </td>
        </tr>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Project Description</span></p>
                <p class="c4"><span class="c9"></span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c24">
                    <span class="c0">
                        Integrating vnPay payment system <br>
                        Laravel Echo integration using redis server as realtime feature
                        <!-- Tích hợp hệ thống thanh toán vnPay <br> -->
                        <!-- Tích hợp Laravel Echo sử dụng server redis làm tính năng realtime -->
                        <!-- <p class="c24"><span class="c0">Địa chỉ website:</span></p>
                                <ul class="c6 lst-kix_list_19-0">
                                    <li class="c24 c14">
                                        <span class="c30">
                                            <a class="c37" href="103.81.87.212">
                                                103.81.87.212
                                            </a>
                                        </span>
                                    </li>
                                </ul> -->
                    </span>
                </p>
            </td>
        </tr>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">My Responsibilities</span></p>
                <p class="c4"><span class="c9"></span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <ul class="c6 lst-kix_list_3-0">
                    <li class="c7 c14"><span class="c1">Coding</span></li>
                    <li class="c7 c14"><span class="c1">Maintain</span></li>
                    <li class="c7 c14"><span class="c1">Research</span></li>
                </ul>
            </td>
        </tr>
        <tr class="c3">
            <td class="c13" colspan="1" rowspan="1">
                <p class="c7"><span class="c9">Technologies</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <ul class="c6 lst-kix_list_3-0">
                    <li class="c7 c14"><span class="c1">PHP, Laravel</span></li>
                    <li class="c7 c14"><span class="c1">MySQL</span></li>
                    <li class="c7 c14"><span class="c1">VueJS</span></li>
                    <li class="c7 c14"><span class="c1">Docker</span></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>